.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 3rem;
    width: min-content
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: inherit
}

select, input {
    display: block;
    width: 10rem;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: 2px solid rgb(201, 201, 201);
    background: transparent;
    font-family: inherit;
    transition: 0.1s;
    font-size: inherit;
    outline: none;
}

select {
    text-transform: capitalize;
}

select:hover, input:hover, input:focus {
    border: 2px solid #5AB7CC;
}

option {
    font-family: inherit;
}

button {
    height: 3rem;
    width: 10rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: 2px solid #5AB7CC;
    background: #5AB7CC;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s;
}

button:hover {
    transform:translateY(-0.2rem);
}

button svg {
    fill: white;
    width: 1.5rem;
    margin-left: 0.5rem;
}

@media all and (min-width: 1700px) {
  label, select, input {
      font-size: 1.4rem;
  }

  select, input {
    width: 12rem;
    height: 3.5rem
  }

  button {
    width: 12rem;
    height: 3.5rem;
    font-size: 1.4rem
  }

  button svg {
    width: 1.8rem
  }

}
